:root {
  /* color palette */
  /* --background-color: #302c3eff; */
  /* --card-color: #3e3743; */
  --primary-color: #e9daff;
  --text: #ffffff;

  /* &.light {
    --background-color: #f0f0f0;
    --card-color: #d9cdea;
    --primary-color: #DDADFF;
    --text: #1c1c1c;
  } */
}

html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 150px;
}

body {
  /* background-color: var(--background-color); */
  background: linear-gradient(135deg, #302c3eff, #4e4356);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  color: var(--text);
  height: 2500px;

  overflow-x: hidden;
  font-family: 'Nunito';
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

header {
  position: sticky;
  top: 0;
  background-color: #4e4356;
  color: white;
  padding: 1em;
  text-align: center;
  align-items: center;
  z-index: 1000;
  height: 140px;

  width: 150%;
  margin: 0 auto;
  box-sizing: border-box;

  margin-left: -25%;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.1);

  &.scrolled {
    background-color: #65596e;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.5);
  }

  transition: padding 0.3s ease,
  background-color 0.3s ease,
  box-shadow 0.3s ease;
}

nav a {
  color: var(--text);
  margin: 0 1em;
  text-decoration: none;
  border-radius: 20px;
  padding: 0.5em 1em;
  transition: background 0.2s, color 0.2s;
}

header h1 {
  color: var(--primary-color)
}

nav a:hover,
nav a:focus {
  color: black;
  background: var(--primary-color);
}

section {
  margin: 1rem auto;
  max-width: 1200px;
  padding: 1.5rem 3rem;
  background: color(255, 255, 255, 0.1);
  backdrop-filter: blur(50px);
  /* border-radius: 18px; */
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.5);
  color: var(--text);
}

.section-title {
  color: var(--primary-color);
  font-size: 2.2rem;
  text-align: center;
}

.link {
  text-decoration: none;
  color: var(--primary-color);
}